pytorch_lightning==2.0.0
torchvision==0.15.1
albumentations==1.3.0
opencv-python==4.7.0.72
fsspec[s3]
pytesseract
Levenshtein
jellyfish
regex
camelot-py[cv]
tabula-py
pymupdf
frontend
mlflow
nltk
unidecode
pre-commit
